@import "tailwindcss";

@layer components {
    .active {
        color: rgb(249 168 212);
        cursor: pointer;
        font-size: var(--text-xl);
        &:hover {
            color: rgb(202, 137, 173);
        }
    }

    .inactive {
        cursor: pointer;
        color: white;
        font-size: var(--text-xl);
        transition: color 0.3s ease-in-out;

        &:hover {
            color: var(--text-gray-500);
        }
    }
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #121212;
	color: white;
	overflow-x: hidden;
}

.hideNav {
	display: none;
}

.showNav {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: #121212;
	opacity: 95%;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
